/*root font */
html {font-size: 16px;
      font-family: "Aria", Gadget, sans-serif
}
.portfolio-body {
  font-family:'Hind Guntur', sans-serif;
}

/*2274a5 */
.stp-nav {
  background:#e4572e;
  color: #f0f8ea;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  font-size: .8rem;
}
