.stp {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

.stp-body {
  flex: 1;
}

.stp-nav {
  order:1;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
}

.stp-nav ul {
  padding-top: .8rem;
  margin: 0;
  list-style: none;
  position: relative;
}

.home-image {
  align-items: center;
  border: .1rem;
  margin: 2rem;
  margin-left: 5.5rem;
  width: 80%;

}


.stp-nav ul li {
  display: inline-block;
  text-decoration: none;
}


.stp-nav a {
  display: block;
  padding: 0 10px;
  color: #f0f8ea;
  text-decoration: none;
}

.stp-nav ul li a:hover {
  color: #472418;
  display: list-item;
}

/*

.stp-nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
}


.stp-nav ul li a:hover {
  display:inherit;
}

.stp-nav ul ul li {
  display:list-item;
  position: relative;
}


  /*
  background-color: #cb4d28;
  margin: 4 auto;
*/


/*
.stp-nav ul {
  margin-right: 4rem;
  list-style-type:none;
	padding:0;
	position: absolute;
}

.stp-nav li a{
  text-decoration: none;
  color: #f0f8ea;

}
/* Hover state for top level links
li:hover a{
  color: #472418;
  height: 20px;
  width: 20px;
}
/*style for dropdown links
li:hover ul a {
  background-color: #cb4d28;
  color: #f0f8ea;
  display: block;
}
/* hover state for drop down links
li:hover ul a:hover {
  background-color: #cb4d28;
  color: #f0f8ea;
}

hide dropdowns until needed
link ul {
  display: none;
}

Make dropdown links vertical
li ul li {
	display: block;
	float: none;
}

Prevent text wrapping
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

Display the dropdown on hover
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}*/
